@import "tailwindcss";

:root {
  --gradient-start: #ececf8; 
  --gradient-end: #797a7b;  
}

body {
  
  min-height: 100vh; 
  background-image: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
  background-attachment: fixed;
  margin: 0;
}
